<!DOCTYPE html>
<html>
<head>
	<title>Advent</title>
	<!-- Stuff to make it look native on mobile --> 
	<meta name="viewport" content="user-scalable=0, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes" />

<% begin %>
<!-- <%= @day.title %> -->
	<meta property='og:title' content='Advent: <%= @day.title %>' />
	<meta property='og:image' content='http://advent.cornerstonecity.eu/images/<%= @day.image_url%>' />
	<meta property='og:url' content='http://advent.cornerstonecity.eu/day/<%= @day.id %>/show' />
	<meta property='og:type' content='website' />
	<meta property='og:site_name' content='advent' />
<% rescue %>
<!-- -->
	<meta property='og:title' content='Advent' />
	<meta property='og:url' content='http://advent.cornerstonecity.eu' />
	<meta property='og:description' content='An Advent-themed daily devotional for the month of December' />
	<meta property='og:image' content='http://advent.cornerstonecity.eu/images/ccc.png' />
<% end %>
    <link rel="apple-touch-icon-precomposed" href="/images/icon.png" />
	<meta name="apple-mobile-web-app-status-bar-style” content=”black" />
	<link rel="apple-touch-startup-image" href="/images/icon.png" />	
	<script src="/javascript/jquery.js" type="text/javascript"></script>
	<script type="text/javascript" src="/javascript/tooltipster.js"></script>	
	<link rel="stylesheet" href="/css/pure.css">
	<link rel="stylesheet" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/fonts.css">
	<link rel="stylesheet" type="text/css" href="/css/tooltipster.css">
	<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">



	<script type="text/javascript">


	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-595468-6']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	<script type="text/javascript">

        $(document).ready(function() {

        	// fixes an ugly issue where image drops down on small devices
        	var alignLink = function() {
        		if($( window ).width() < 768) {
        			$('.right:first').css('position', 'absolute')
	        		.css('top', '0px')
	        		.css('right', '0px')
	        		.css('width', '100px')
        		}
        		else {
        			$('.right:first').css('position', 'relative')
        			.css('width', '')

        		}
        	};

        	// text-align: center won't work on the circles
        	var alignCircles = function() {
	        	var circles = $('.circle')
	        	var offset = $('.box').width()/2 -25 ;
	        	for (var i = 0; i < circles.length; i++) {
	        		$(circles[i]).css('marginLeft', offset)
	        	};
        	};

        	// keepeing thins in their places
        	var commentFormFix = function() {
        		if($( window ).width() < 462) {
        			$('img.commentIcon').css('marginBottom', '20px');
        			console.log('adjusting');
        		}
        	};

        	// calling my functions
            $('.tooltip').tooltipster();
            alignCircles();
         	alignLink();
         	commentFormFix();


         	//keeping things right on resize
	        $(window).resize(function() {
	        	alignCircles();
	        	alignLink();
	        	commentFormFix();
        	});
        });

    </script>
</head>
<body>
<div class="pure-g-r grey">
	<div class="pure-u-1-5">
	</div>
	<div class="pure-u-2-5">
		<a href='/'><div class="heading">Advent</div></a>
	</div>

	<div class="pure-u-1-5 right">
		<% if logged_in? %>
		<a href="/logout" class="tooltip" title="Log Out">
			<%= img_tag_for_user(@current_user.id) %>
		</a>
		<% else %>
		<a class="pure-button login" href="/login">Login</a>
		<% end %>
	</div>
		<div class="pure-u-1-5">
		</div>
</div>
<%= yield %>

<div class="pure-g-r footer">
	<div class="pure-u-1-5"></div>
	<div class="pure-u-3-5 ">
		<p>&nbsp;&nbsp;<a href="http://cornerstonecity.eu"><img src="/images/ccc.png" width="180" alt="cornerstone city church"></a></p>
	</div>
	<div class="pure-u-1-5"></div>
</div>
</body>
</html>