<script type="text/javascript">

	var destroy = function(x) {
		$.post('/comment/' + x +'/destroy');
	};
</script>
<div id="fb-root"></div>

<style type="text/css">
	.main {
		margin-left: 10px;
		margin-right: 10px;
	}
	.subhead{
		margin-top: -18px;
		font-size:20px;
		margin-bottom: 4px;
		color: #99aa9e;
		font-family: 'CodeProLightDemoRegular';
	}
	.top {
		min-height:200px;
		background-image: url('/images/<%= @day.image_url%>');
		background-size:cover;
		background-position: center center;
	}
</style>
<div class="pure-g-r">
	<div class='pure-u-1 one top'></div>
	<div class='pure-u-1-5'>
	</div>
	<div class='pure-u-3-5 main' >
		<h1><img src="http://graph.facebook.com/<%= @day.user.id %>/picture" class="tooltip" title="author: <%= @day.user.name %>"  alt=""> <%= @day.title %></h1>
		<p class="subhead"><%= @day.publish_on.strftime("%A, #{@day.publish_on.day.to_s.ordinalize} %B")%><%if admin?%>&nbsp;&nbsp;
			<span class="color:red;"><a href="/day/<%= @day.id %>/edit">Edit this Post</a></span>
		<%end%>
			<a class="pure-button pure-button-small shareonfb" style="color: #eee;text-indent: 0px;padding-left: 35px;width: 130px;padding-top: 10px;height: 24px;" onclick="window.open (this.href, 'child', 'height=400,width=665,scrollbars'); return false" href="https://www.facebook.com/sharer/sharer.php?u=href=/day/<%= @day.id %>/edit" target="_blank">Share on Facebook</a>
		</p>

		<%= @body %>
		<h1>Comment</h1>
		<% for comment in @comments %>
		<p><img src="http://graph.facebook.com/<%= comment.user.id %>/picture">&nbsp;&nbsp;<%= comment.body %></p>
		<p>Posted by <%= comment.user.name %>, on <%= comment.created_on.strftime("%d %B, %Y") %>
		<% if admin? %>
			<a id="destroy" style="color:red;" href="#" onclick="javascript:destroy(<%= comment.id %>);">DELETE?</a>
		<% end %>
		</p>
		<% end %>
		<br>
		<form class="pure-form" action="/comment/<%= @day.id %>/create" method="post">
			<fieldset>
	    		<legend>Add Your Voice to the Chorus!</legend>
	    		<% if logged_in? %><img class="commentIcon" src="http://graph.facebook.com/<%= @current_user.id %>/picture">&nbsp;&nbsp;<% end %>
				<input type="text" class='pure-input-1-2 commentInput' name="body" placeholder="Your comment here.">
	    		<button type="submit" class="pure-button pure-button-primary">Submit</button>
			</fieldset>
		</form>
	</div>
	<div class='pure-u-1-5'>
	</div>
</div>

