
	


<script type="text/javascript">

	var destroy = function(x, el) {
		$.post('/comment/' + x +'/destroy', function(){ 
			$(el).parent().prev().remove();
			$(el).parent().remove();
		});
	};
	$(document).ready(function() {
		var loader = new Image();
		loader.src = '/images/ajax-loader.gif';
		$('button').click(function() {$(this).html("<img src='/images/ajax-loader.gif'>")});


		// insert into head for fb
		$('head').append("<meta property='og:title' content='<%= @day.title %>' />");
		$('head').append("<meta property='og:image' content='http://www.advent.cornerstonecity.eu/images/<%= @day.image_url%>' />");
		$('head').append("<meta property='og:url' content='http://www.advent.cornerstonecity.eu/day<%= @day.id %>/show' /><meta property='og:type' content='website' /><meta property='og:site_name' content='advent'><meta property='og:description' content='An Advent-themed daily devotional for the month of December' />");
	});
</script>
<div id="fb-root"></div>

<style type="text/css">
	.main {
		margin-left: 10px;
		margin-right: 10px;
	}
	.subhead{
		margin-top: -18px;
		font-size:20px;
		margin-bottom: 4px;
		color: #99aa9e;
		font-family: 'CodeProLightDemoRegular';
	}
	.top {
		min-height:200px;
		background-image: url('/images/<%= @day.image_url%>');
		background-size:cover;
		background-position: center center;
	}
</style>
<div class="pure-g-r">
	<div class='pure-u-1 one top'></div>
	<div class='pure-u-1-5'>
	</div>
	<div class='pure-u-3-5 main' >
		<h1><img src="http://graph.facebook.com/<%= @day.user.id %>/picture" class="tooltip" title="author: <%= @day.user.name %>"  alt=""> <%= @day.title %></h1>
		<p class="subhead"><%= @day.publish_on.strftime("%A, #{@day.publish_on.day.to_s.ordinalize} %B")%>&nbsp;&nbsp;&nbsp;
		<%if admin?%>
			<a class="red" href="/day/<%= @day.id %>/edit"><i class="fa fa-edit fa-l"></i>&nbsp;Edit this Post</a>&nbsp;&nbsp;&nbsp;
		<%end%>
			<a class="share" onclick="window.open (this.href, 'child', 'height=400,width=665,scrollbars'); return false" href="https://www.facebook.com/sharer/sharer.php?u=href=http://advent.cornerstonecity.eu/day/<%= @day.id %>/show" target="_blank"><i class="fa fa-facebook-square fa-l"></i>&nbsp;Share</a>&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/share?url=http%3A%2F%2Fadvent.cornerstonecity.eu%2Fday%2F<%= @day.id %>%2Fshow" target="_blank" class="tweet"><i class="fa fa-twitter-square fa-l"></i>&nbsp;Tweet</a>
		</p>

		<%= @body %>
		<h1>Comment</h1>
		<% for comment in @comments %>

		<p><img src="http://graph.facebook.com/<%= comment.user.id %>/picture">&nbsp;&nbsp;<%= escape_html(comment.body) %></p>
		<p class="commentMeta">Posted by <%= comment.user.name %>, on <%= comment.created_on.strftime("%d %B, %Y") %>
		<% if admin? %>
			<a class="destroy" style="color:red;" href="#createComment" onclick="javascript:destroy(<%= comment.id %>, this);">DELETE?</a>
		<% end %>
		</p>
		<% end %>

		<br>
		<form id="createComment" class="pure-form" action="/comment/<%= @day.id %>/create" method="post">
			<fieldset>
	    		<legend>Add Your Voice to the Chorus!</legend>
	    		<% if logged_in? %><img class="commentIcon" src="http://graph.facebook.com/<%= @current_user.id %>/picture"><% end %><input type="text" class='pure-input-1-2 commentInput' name="body" placeholder="Your comment here.">
	    		</fieldset>
	    		<button type="submit" class="pure-button pure-button-primary green">Submit</button>	
		</form>
		<br>
	</div>
	<div class='pure-u-1-5'>
	</div>
</div>